ul {
  padding-inline-start: 0;
}

.sidebar {
  position: fixed;
  width: 60px;
  top: 0;
  left: 0;
  height: 100%;
  background: #1D1D1D;
  z-index: 99;
  user-select: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.configs {
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 1.5em;
}

.configs a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 100%;
  text-decoration: none;
  transition: all 0.4s ease;
  color: #666666;
}

/* .configs a:hover {
  color: rgb(0, 0, 88);
} */

.nav-list {
  margin-top: 1.2rem;
  width: 100%;
  font-size: 1.5em;
}

.nav-list li {
  position: relative;
  list-style: none;
  width: 100%;
  background-color: transparent;
}

.nav-list li a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 100%;
  text-decoration: none;
  transition: all 0.4s ease;
  color: #666666;
}

.configs a:hover,
.nav-list li a:hover {
  color: rgb(216, 216, 216);
}

.tooltip {
  position: absolute;
  top: 50%;
  left: calc(100% + 5px);
  z-index: 3;
  background: #333;
  color: #fff;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 0.6em;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: all 0.5s ease;
  transform: translateY(-50%);
}

.nav-list li:hover .tooltip,
.configs a:hover .tooltip {
  opacity: 1;
  pointer-events: auto;
}


/* 
.sidebar.open {
  align-items: flex-start;
}  

.sidebar.open .logo-text {
  opacity: 1;
}

.sidebar.open .tooltip {
  display: none;
}

#btn-sidebar {
  color: white;
  font-size: 2em;
  cursor: pointer;
  transition: all 0.5s ease;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.sidebar.open #btn-sidebar {
  right: 0;
}

.sidebar[style*="width: 64px"] .links_name {
  display: none;
}

.sidebar[style*="width: 64px"] .tooltip {
  display: block;
}

.sidebar.open .links_name {
  opacity: 1;
  pointer-events: auto;
}

.resizer {
  width: 5px;
  height: 100%;
  background: #333;
  cursor: ew-resize;
  position: absolute;
  right: 0;
  top: 0;
} 
*/